[Unit]
Description=Cloud Portal API daemon
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/java -Djava.security.egd=file:/dev/./urandom -javaagent:/etc/newrelic/newrelic-agent-{{version.newrelic}}.jar -Dnewrelic.environment={{ newrelic_override_hostname }} -jar be-portal-api.jar $OPTIONS
KillMode=process
WorkingDirectory=/home/centos/cloud-portal-api
User=centos
Restart=on-abnormal
RestartSec=90s

[Install]
WantedBy=multi-user.target
