set -e

rm -rf /usr/share/nginx/cloud-portal-app/*
tar -xzf portal-app.tgz -C /usr/share/nginx/cloud-portal-app/
chown root.root -R /usr/share/nginx/cloud-portal-app/*
# Sort out the api URL
sed -i 's/dev\.api\.portal/{{api_hostname}}/g' /usr/share/nginx/cloud-portal-app/main*bundle.*
